body{
  justify-content: center;
}
#container{
    display:grid;
    height: 960px;
    width: 960px;
    border: solid 0.5px;
  }
.template{
  grid-template: repeat(16,1fr)/repeat(16,1fr);
}
.box {
  justify-content: stretch;
}
.effect{
  background-color: #000;
}